/* === MOBILE === */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EF;
}

#outer-container {
    position: relative;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 499px;
}

#inner-container {
    position: relative;
    margin: 16px 16px 0px 16px;
    border-radius: 10px;
    background-image: url(/assets/qr-code-component-main/images/image-qr-code.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 288px;
    height: 288px;
}

#inner-container-two {
    position: relative;
    display: grid;
    margin: 24px 16px 40px 16px;
    width: 288px;
    height: 131px;
}

h1 {
    color: #1F314F;
    font-size: 22px;
    line-height: 120%;
    margin: 0 0 16px 0;
}

p {
    color: #68778D;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
    margin: 0;
}
